<ion-content class="meus-dados-background">
  <div class="meus-dados-container">
    <div class="foto-perfil-wrapper">
      <img src="assets/img/eu.png" alt="Foto de Perfil" class="meus-dados-foto-perfil" />
      <img src="assets/img/camera.png" alt="Alterar Foto" class="meus-dados-camera" />
    </div>
    
    <ion-label>Gustavo Henrique, 33</ion-label>
    <hr>

  <div class="meus-dados-content">
    <label class="meus-dados">gustavo&#64;email.com</label>
     <!-- <ion-button expand="block" class="meus-dados-button">
      Entrar
    </ion-button> -->
  </div>
</div>
</ion-content>
