@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.meus-dados-background {
  --background: #3c1874; /* Fundo roxo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
}

.meus-dados-container {
  text-align: center;
  padding: 40px 20px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.meus-dados-icon {
  font-size: 60px;
  color: #ff6f91; /* Rosa do ícone */
  margin-bottom: 20px;
}

.custom-input {
  --background: transparent;
  --color: #fff;
  --placeholder-color: #cccccc;
  --highlight-color-focused: #ff6f91;
  --border-color: #ffffff50;
  --border-radius: 12px;
  margin-bottom: 20px;

  ion-input {
    font-family: Poppins;
    color: #fff;
    font-size: 16px;
    padding: 10px;
  }

  .native-input[placeholder] {
    color: #cccccc !important;
  }

}

hr {
    background-color: #cccccc;
    margin-top: 20px;
}

ion-label {
    display: flex;
    padding-left: 55px;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
    font-size: 25px;
}

.meus-dados-button {
  --background: #f04069;
  color: #fff;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  font-family: Poppins;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.meus-dados-text {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  line-height: 0.1;
}

.foto-perfil-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px auto; // Centraliza e dá espaçamento inferior
  }
  
  .meus-dados-foto-perfil {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }
  
  .meus-dados-camera {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  

.link-cadastrese {
  text-decoration: none;
}

.meus-dados {
    display: flex;
    font-family: Poppins;
    font-weight: 500;
    color: #fff;
    font-size: 17px;
}

.meus-dados-content {
    margin-top: 50px;
    background-color: #f04069;
    border-radius: 10px;
    padding-top: 251px;
}