<div class="profile-container">
    <img src="assets/img/logo.png" alt="Fleche logo" class="login-logo" />     
  <div class="form-group" *ngFor="let field of formFields">
    <label>{{ field.label }}</label>
    <div class="input-edit-wrapper" [class.editing]="field.editable">
      <ng-container [ngSwitch]="field.type">
        <input
          *ngSwitchCase="'text'"
          type="text"
          [placeholder]="field.placeholder"
          [(ngModel)]="field.value"
          [disabled]="!field.editable"
        />
        <input
          *ngSwitchCase="'email'"
          type="email"
          [placeholder]="field.placeholder"
          [(ngModel)]="field.value"
          [disabled]="!field.editable"
        />
        <input
          *ngSwitchCase="'tel'"
          type="tel"
          [placeholder]="field.placeholder"
          [(ngModel)]="field.value"
          [disabled]="!field.editable"
        />
        <input
          *ngSwitchCase="'password'"
          type="password"
          [placeholder]="field.placeholder"
          [(ngModel)]="field.value"
          [disabled]="!field.editable"
        />
        <!-- <select
        *ngSwitchCase="'select'"
        [disabled]="!field.editable"
        [(ngModel)]="field.value"
        >
         <option *ngFor="let option of field.options" [value]="option">
          {{ option }}
        </option> 
      </select> -->

      </ng-container>

      <button type="button" class="edit-button" (click)="toggleEdit(field)">
        <img src="assets/img/edit.png" alt="Editar Campo" />
      </button>
    </div>
  </div>

  <button class="save-button" (click)="salvarAlteracoes()">Salvar</button>
</div>
