<ion-content class="login-background">
  <div class="login-container">
    <ion-icon name="wine-outline" class="login-icon"></ion-icon>
    <img src="assets/img/logo.png" alt="Fleche logo" class="login-logo" />

    <ion-item class="custom-input">
      <ion-input
        placeholder="Email ou telefone"
        type="email"
        fill="outline"
        mode="md">
      </ion-input>
    </ion-item>
    
    <ion-item class="custom-input">
      <ion-input
        placeholder="Senha"
        type="password"
        fill="outline"
        mode="md">
      </ion-input>
    </ion-item>
    
    <ion-button expand="block" class="login-button">
      Flechar
    </ion-button>

    <p class="login-text">
      Fleche: o match começa com um brinde.
    </p>
  </div>
</ion-content>
