ion-tab-bar {
    padding-top: 10px;
    background-color: #1e0034;
    border: none;
    color: white;
    display: flex;
    justify-content: space-around; /* Espaça uniformemente os itens */
    align-items: center; /* Centraliza verticalmente */
  }
  
  .icon-chat {
    height: 60px;
    width: 60px;
    padding-bottom: 5px;
  }
  
  .icon-profile {
    height: 40px;
    width: 40px;
    padding-bottom: 5px;
  }
  
  .icon-fleche {
    height: 60px;
    width: 60px;
    padding-bottom: 5px;
  }