<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/fleche/login" layout="icon-top">
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/fleche/tela-principal" layout="icon-top">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/fleche/meus-dados" layout="icon-top">
      <ion-icon name="reorder-four-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
