<ion-tabs style="margin: 0; padding: 0;">
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/fleche/tela-principal" layout="icon-top">
      <ion-icon name="chatbubbles"></ion-icon>
      Chat
    </ion-tab-button>

    <ion-tab-button routerLink="/fleche/login" layout="icon-top">
      <ion-icon name="flash"></ion-icon>
      Fleches
    </ion-tab-button>

    <ion-tab-button routerLink="/fleche/meus-dados" layout="icon-top">
      <ion-icon name="settings"></ion-icon>
      Ajustes
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
