<ion-content [fullscreen]="true" class="like-dislike-container">
  <div class="card-container">
    <img src="assets/img/logo.png" alt="Fleche logo" class="principal-logo" />
    <ion-card class="card">
      <img src="assets/img/eu.png" alt="Profile Image" />
      <ion-card-header>
        <ion-card-title class="idade">33</ion-card-title>
        <ion-card-title>Gustavo Henrique</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Sou pobre, feio, moro longe e ando a pé</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="buttons">
    <img src="assets/img/dislike.png" alt="Dislike" class="img-dislike" />
    <img src="assets/img/like.png" alt="Like" class="img-like" />
  </div>
  
</ion-content>
