
.like-dislike-container {
  background: 
    linear-gradient(to bottom, rgba(60, 24, 116, 0.8), rgba(60, 24, 116, 0.8)),
    url('/assets/img/background.png') no-repeat center center / cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.card-container {
  width: 90%;
  max-width: 400px;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 13px;
  padding-left: 10px;
  
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

ion-card-title {
    color: #ffffff;
}

.principal-logo {
    width: 85px;
    margin: 0 auto 20px auto;
    display: block;
  }

.idade {
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins; 
  }

  .foto-wrapper {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .foto-principal {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1; /* base da pilha */
  }
  
  /* Gradiente sobre a imagem */
  .foto-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0, 0, 0, 5.0), transparent);
    pointer-events: none;
    z-index: 2; /* acima da imagem, abaixo do texto/botões */
  }
  
  /* Texto sobre a imagem */
  .texto-sobre-imagem {
    position: absolute;
    bottom: 100px;
    left: 20px;
    color: white;
    font-family: Poppins;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 3; /* acima do gradiente */
  }
  
  .texto-sobre-imagem .idade {
    font-size: 18px;
    font-weight: 400;
  }
  
  .texto-sobre-imagem .nome {
    font-size: 26px;
    font-weight: 700;
  }
  
  .texto-sobre-imagem .genero {
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 8px;
    padding: 1px 8px;
    display: inline-block;
  }
  
  /* Botões */
  .buttons {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 50px;
    z-index: 3; /* acima de tudo */
  }
  
  
  .img-like,
  .img-dislike {
    width: 60px;
    height: 60px;
    border: 1px solid #f04069;
    border-radius: 50%;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
    padding: 12px;
    object-fit: contain;
  }
  
  .img-like:hover,
  .img-dislike:hover {
    transform: scale(1.1);
  }
