<ion-content class="login-background" [fullscreen]="true">
  <div class="login-container">
    <img src="assets/img/logo.png" alt="Fleche logo" class="login-logo" />

    <div class="custom-input">
      <input
        class="inp"
        #telInput
        placeholder="Email ou telefone"
        type="email"
        mode="md" />
    </div>
    
    <div class="custom-input">
      <input class="inp"
        #senhaInput
        placeholder="Senha"
        type="password"
        mode="md" />
    </div>
    
    <ion-button expand="block" class="login-button" (click)="logar(telInput.value!.toString(), senhaInput.value!.toString())">
      Entrar
    </ion-button> 

    <p class="login-text">
      Não tem conta? <a (click)="irParaCadastro()" class="link-cadastrese">Crie aqui.</a>
    </p>
  </div>
</ion-content>
