<div class="login-background">
  <div class="login-container">
    <img src="assets/img/logo.png" alt="Fleche logo" class="login-logo" />

    <div class="custom-input">
      <input
        class="inp"
        #telInput
        placeholder="Telefone"
        type="email"
        mode="md" />
    </div>
    
    <div class="custom-input">
      <input class="inp"
        #senhaInput
        placeholder="Senha"
        type="password"
        mode="md" />
    </div>
    
    <ion-button expand="block" id="headerAnchor" class="login-button" (click)="login(telInput.value!.toString(), senhaInput.value!.toString())">
      Entrar
    </ion-button> 
    <!-- <ion-toast
    trigger="headerAnchor"
    position="top"
    positionAnchor="header"
    message="Login ou senha inválidas!"
    duration="2000"
    cssClass="custom-toast"
  ></ion-toast> -->

    <p class="login-text">
      Não tem conta? <a (click)="irParaCadastro()" class="link-cadastrese">Crie aqui.</a>
    </p>
    <p class="login-text">Version 1.0.8</p>
  </div>
</div>
