<div class="cadastro-background">
  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
    <div class="cadastro-container">
      <img src="assets/img/logo.png" alt="Fleche logo" class="cadastro-logo" />

      <div class="custom-input">
        <input
          class="inp"
          formControlName="nome"
          placeholder="Nome"
          type="text"
          fill="outline"
          mode="md" />
      </div>
      <label class="danger" *ngIf="cadastroForm.get('nome')?.touched && cadastroForm.get('nome')?.invalid">
        Nome é obrigatório.
      </label>

      <div class="custom-input">
        <input
          class="inp"
          formControlName="email"
          placeholder="Email"
          type="email"
          fill="outline"
          mode="md" />
      </div>
      <label class="danger" *ngIf="cadastroForm.get('email')?.touched && cadastroForm.get('email')?.invalid">
        Email inválido.
      </label>

      <div class="custom-input phone-group">
        <input
          class="inp ddd-input"
          formControlName="ddd"
          placeholder="DDD"
          type="text"
          maxlength="2" />
      
        <input
          class="inp phone-input"
          formControlName="telefone"
          placeholder="Telefone"
          type="tel" />
      </div>
      
      <label class="danger" *ngIf="cadastroForm.get('telefone')?.touched && cadastroForm.get('telefone')?.invalid">
        Telefone inválido.
      </label>
    
      <div class="custom-input">
        <input
          class="inp"
          formControlName="senha"
          placeholder="Senha"
          type="password"
          fill="outline"
          mode="md"/>
      </div>
      <label class="danger" *ngIf="cadastroForm.get('senha')?.touched && cadastroForm.get('senha')?.invalid">
        Senha deve ter no mínimo 6 caracteres.
      </label>

      <div class="custom-input">
        <label position="stacked">Data de nascimento</label>
        <input
          class="inp"
          formControlName="dataNascimento"
          type="date"/>
      </div>
      <label class="danger" *ngIf="cadastroForm.get('dataNascimento')?.touched && cadastroForm.get('dataNascimento')?.invalid">
        Data de nascimento é obrigatória.
      </label>

      <!-- <div class="custom-input file-input" lines="inset">
        <label position="stacked">Escolha sua melhor foto</label>
        <input type="file" (change)="onFileSelected($event)" class="upload-input">
      </div> -->

      <button class="cadastro-button" type="submit">
        Cadastrar
      </button>
    </div>
  </form>
</div>
