
.cadastro-background {
  background-color: #3c1874 !important;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}


.cadastro-container {
  text-align: center;
  padding: 30px 20px;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
}

.cadastro-logo {
  width: 100px; /* Logo menor */
  margin: 0 auto 20px auto;
  display: block;
}

.cadastro-icon {
  font-size: 60px;
  color: #ff6f91;
  margin-bottom: 20px;
}

.custom-input {
  --background: transparent;
  --color: #fff;
  --placeholder-color: #cccccc;
  --highlight-color-focused: #ff6f91;
  --border-color: #ffffff50;
  --border-radius: 12px;
  margin-bottom: 16px;

  font-family: 'Poppins', sans-serif;

  .inp {
    font-family: Poppins;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;  /* Aumentar o padding para mais espaço dentro do input */
    background: transparent !important; /* Garantir fundo transparente */
    border: 1px solid var(--input-border-color) !important; /* Usar variável para borda */
    border-radius: 12px;  /* Borda arredondada para os inputs */
    width: 100%;  /* Garantir que o input ocupe 100% da largura disponível */
  }

  input[type="date"] {
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .native-input[placeholder] {
    color: #cccccc !important;
  }
}

button.cadastro-button {
  background-color: #f04069;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-transform: none;
}


.login-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.8;
  line-height: 0.1;
}

.link-cadastrese {
  text-decoration: none;
}

.file-input {
  --highlight-color-focused: #f72585;

  .upload-input {
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding: 8px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;

    &::file-selector-button {
      background-color: #f72585;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    &::file-selector-button:hover {
      background-color: #c41e6a;
    }
  }
}

.danger {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: rgb(254, 81, 81);

}

.phone-group {
  display: flex;
  gap: 12px;

  .ddd-input {
    width: 30%;
  }

  .phone-input {
    width: 70%;
  }
}
