/* global.scss */
/* Use as variáveis definidas */
@use "theme/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Importe os estilos globais da Ionic */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark mode config */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-tertiary: #5260ff;
    --ion-color-success: #2dd36f;
    --ion-color-warning: #ffc409;
    --ion-color-danger: #eb445a;
    --ion-color-dark: #222428;
    --ion-color-medium: #92949c;
    --ion-color-light: #f4f5f8;
  
    --ion-font-family: 'Poppins', sans-serif;
    --ion-text-color: #000;
    --ion-background-color: #fff;
  }
  


body, ion-content, ion-label, ion-input, ion-button {
    font-family: var(--ion-font-family), sans-serif !important;
    color: var(--ion-text-color); /* Garante que a cor do texto seja aplicada */
    background-color: var(--ion-background-color); /* Garante que o fundo será da cor definida */
}

/* Outros ajustes */
ion-content {
    background-color: var(--ion-background-color) !important;
}

/* Estilização da Tab Bar */





body.scanner-active ion-content,
body.scanner-active .qr-auth-container {
  opacity: 0;
  pointer-events: none;
}

.scanner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.scan-area {
  width: 250px;
  height: 250px;
  border: 2px solid #00ff99;
  position: relative;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.scan-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #00ff99;
  animation: scan 2s infinite;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
